@model Ulaznice.com.Models.NagradnaIgra

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NagradnaIgra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method = "post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpisNagradneIgre" class="control-label"></label>
                <input asp-for="OpisNagradneIgre" class="form-control" />
                <span asp-validation-for="OpisNagradneIgre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagradaId" class="control-label"></label>
                <select asp-for="NagradaId" class ="form-control" asp-items="ViewBag.NagradaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InformacijeODobitniku" class="control-label"></label>
                <input asp-for="InformacijeODobitniku" class="form-control" />
                <span asp-validation-for="InformacijeODobitniku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorukaDobitnikId" class="control-label"></label>
                <select asp-for="PorukaDobitnikId" class ="form-control" asp-items="ViewBag.PorukaDobitnikId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
