@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na Ulaznice</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <div style="height: 25em; overflow: hidden";>
    <img src="https://www.kupikartu.ba/img/sd2/850x370/usr/karte/stingweb.jpg" style="leftwidth: 35%">
    </div>
 </b>
</div>
</div>
