@{
    ViewData["Title"] = "PRODAJNA MJESTA";
}
<h1>@ViewData["Title"]</h1>

<article>
<h2><a id="sarajevo" name="sarajevo"></a>Sarajevo</h2>
<div><strong>BKC Sarajevo</strong><br>
Branilaca Sarajeva 24</div>
<div>&nbsp;</div>
<div><strong>Biletarnica Skenderija</strong><strong><br>
</strong>Plato Skenderija (Dom Mladih)</div>
<div>&nbsp;</div>
<div><strong>SARAJEVO DISK MUSIC SHOP</strong><br>
Privredni grad Skenderija&nbsp; &nbsp;(11.00 - 19.00)</div>
<div>&nbsp;</div>

<p><strong>Centrotrans</strong></p>
<ul>
<li class="MsoNormal"><span style="&quot;font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;">Poslovnica I,
ulica Ferhadija 16
<o:p></o:p></span> </li>
<li class="MsoNormal"><span style="&quot;font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;">Poslovnica II,
ulica Put života 6 (zgrada Autobuske stanice)
<o:p></o:p></span> </li>
<li class="MsoNormal"><span style="&quot;font-size: 12pt; font-family: &quot;Times New Roman&quot;,&quot;serif&quot;">Poslovnica III,
Bulevar Meše Selimovića 97 (zgrada Općine Novi Grad)
<o:p></o:p></span></li></ul>
<p><strong>VIP TRAVELS</strong><br>
Senada Misimovića bb (Emin-begov bezistan)&nbsp;</p>
<p><strong>FAN SHOP Željezničar -&nbsp;</strong><a href="https://shop.fkzeljeznicar.ba/">https://shop.fkzeljeznicar.ba/</a><br>
Bulevar Ivice Osima 27</p>
<p><strong>VTA - Ventura Travel Agency</strong><br>
Sime Milutinovića 3</p>
<p><strong>Mjenjačnice Exclusive Change</strong></p>
<ul>
<li>Tržni centar Sarajevo City Center - 1 sprat<br>
</li>
<li>Tržni centar Sarajevo City Center - 3 sprat<br>
</li>
<li> Mercator Family Centar Sarajevo<br>
</li>
<li> Mercator Centar Dobrinja&nbsp;</li></ul>
<p><strong> iNovine Kiosci</strong></p>
<ul>
<li>iNovine - Unitic</li>
<li> iNovine - M.Tita - preko puta McDonalds-a<br>
</li>
<li> iNovine - Kino Radnik</li>
<li> iNovine - Dobrinja</li>
<li>iNovine - T-38</li>
<li>iNovine - Sarajevo Centar K12</li></ul>
<div>
<p><strong>SARTR - CDA<br>
</strong>Gabelina 16</p></div>
<p><strong>Jahorina</strong></p>
<p>Hotel Vučko</p>
<div>
<script>
$(function() {
      // Only set the timer if you have a hash
      if(window.location.hash) {
        setTimeout(delayedFragmentTargetOffset, 500);
      }
  });

function delayedFragmentTargetOffset(){
      var offset = $(':target').offset();
      if(offset){
          var scrollto = offset.top - 110; // minus fixed header height
          $('html, body').animate({scrollTop:scrollto}, 0);
          $(':target').highlight();
      }
  };</script></div></div> </article>

