@model Ulaznice.com.Models.Korisnik

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Korisnik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojBankovnogRačuna" class="control-label"></label>
                <input asp-for="BrojBankovnogRačuna" class="form-control" />
                <span asp-validation-for="BrojBankovnogRačuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KartaId" class="control-label"></label>
                <input asp-for="KartaId" class="form-control" />
                <span asp-validation-for="KartaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagradnaIgraId" class="control-label"></label>
                <select asp-for="NagradnaIgraId" class ="form-control" asp-items="ViewBag.NagradnaIgraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PorukaId" class="control-label"></label>
                <input asp-for="PorukaId" class="form-control" />
                <span asp-validation-for="PorukaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
